@using Shoper.Entities
@model Product
@{
    ViewData["Title"] = "ProductDetail";
}
<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <div class="carousel product" data-count="5" data-current="1">
                    <!-- <button class="btn btn-control"></button> -->

                    <div class="items">
                          @{
                              int i = 0;
                           }
                              @foreach (var img in Model.ProductImage)
                              {
                               i++;
                              var active = i == 1 ? "active" : "";
                                         <div class="item @active" data-marker="@i">
                                            <img src="data:image/png;base64,@Convert.ToBase64String(img.Image)" alt="@Model.ProductName" />
                                         </div>
                              }                          
                    </div>

                    <ul class="markers">
                        @{i = 0;}
                            @foreach(var img in Model.ProductImage)
                            {
                            i++;
                            var active = i == 1 ? "active" : "";                               
                                <li data-marker="@i" class="active">
                                <img src="data:image/png;base64,@Convert.ToBase64String(img.Image)" alt="@Model.ProductName" />
                            </li>                               
                            }                          
                    </ul>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5">
                <img src="/AdminImages/@Model.Manifacture.ImagePath" alt="@Model.Manifacture.ManifactureName" class="brand hidden-xs" />

                    <h1>@Model.ProductName</h1>



                <p class="price">@Model.ProductPrice.FirstOrDefault(x=>x.isValidFlag).Price @Model.ProductPrice.FirstOrDefault(x=>x.isValidFlag).UnitPrice</p>
                    <p class="price through">$249.99</p>
                    <br><br>

                    <button class="btn btn-primary btn-rounded"> <i class="ion-bag"></i> Sepete Ekle</button>
                </div>
            </div>
            <br><br><br>


            <div class="row">
                <div class="col-sm-7">
                    <h1>@Model.ProductName</h1>
                    <br>

                    <p>
                       @Html.Raw(Model.Description)
                    </p>
                    <br>

                    <h2>Ürün Özellikleri</h2>
                    <br>

                    <div class="row specification">
                        @foreach (var item in Model.ProductCategory.ProductItem)
                    {
                        <div class="col-sm-6"> <label>@item.ItemName</label> </div>
                        <div class="col-sm-6"> <p>@item.ProductItemValue.Value</p> </div>
                    }
                        
                    </div>

                    
                </div>
                <div class="col-sm-5">
                    <div class="comments">
                        <h2 class="h3">Kullanıcı Yorumları (@Model.ProductComment.Count)</h2>
                        <br>


                        <div class="wrapper">
                            <div class="content">
                            @foreach (var comment in Model.ProductComment)
                            {
                                <h3>@comment.Writer</h3>
                                <label>@comment.CommentDate</label>
                                <p>
                                   @comment.Comment
                                </p>
                            }
                                
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-chatbox-working"></i> Yorum ekle </button>
                    </div>
                    <br><br>

                    <div class="talk">
                        <h2 class="h3">Do you have any questions?</h2>
                        <p>Online chat with our manager</p>

                        <button class="btn btn-default btn-sm"> <i class="ion-android-contact"></i> Lat's talk </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <section class="products">
        <div class="container">
            <h1 class="h3">Recommendation for you</h1>

            <div class="row">
                <div class="col-sm-6 col-md-3 product">
                    <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                    <a href="./"><img src="../assets/img/products/chrome-book-11.jpg" alt="HP Chromebook 11" /></a>

                    <div class="content">
                        <h1 class="h4">HP Chromebook 11</h1>
                        <p class="price">$199.99</p>
                        <label>Laptops</label>

                        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 product">
                    <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                    <a href="./"><img src="../assets/img/products/chrome-book-14.jpg" alt="HP Chromebook 14" /></a>

                    <div class="content">
                        <h1 class="h4">HP Chromebook 14</h1>
                        <p class="sale">$209.99</p>
                        <p class="price through">$249.99</p>
                        <label>Laptops</label>

                        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 product">
                    <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                    <a href="./"><img src="../assets/img/products/chrome-book-asus.jpg" alt="HP Chromebook 14" /></a>

                    <div class="content">
                        <h1 class="h4">Asus Chromebook</h1>
                        <p class="price">$299.99</p>
                        <label>Laptops</label>

                        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 product">
                    <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                    <a href="./"><img src="../assets/img/products/ipad-air.jpg" alt="iPad Air" /></a>

                    <div class="content">
                        <h1 class="h4">iPad Air</h1>
                        <p class="price">$449.99</p>
                        <label>Tablets</label>

                        <a href="../catalog/product.html" class="btn btn-link"> Details</a>
                        <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

