@using Shoper.UI.Models.ViewModels
@model List<CardItem>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="cart" data-toggle="inactive">
    <div class="label">
        <i class="ion-bag"></i> @Model.Count
    </div>

    <div class="overlay"></div>

    <div class="window">
        <div class="title">
            <button type="button" class="close"><i class="ion-android-close"></i></button>
            <h1 class="h3 info">Ürün Sepeti</h1>
        </div>

        <div class="content">
            @foreach (var item in Model)
            {
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="data:image/png;base64,@Convert.ToBase64String(item.product.ProductImage.FirstOrDefault().Image)" alt="@item.product.ProductName" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="h4 media-heading">@item.product.ProductName</h2>
                        <label>@item.product.ProductCategory.CategoryName</label>
                        <p class="price">@item.product.ProductPrice.FirstOrDefault(x=>x.isValidFlag==true).UnitPrice  @item.product.ProductPrice.FirstOrDefault(x=>x.isValidFlag==true).Price</p>
                    </div>
                    <div class="controls">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                            </span>
                            <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                            </span>
                        </div><!-- /input-group -->

                        <a href="#remove"> <i class="ion-trash-b"></i> Sil </a>
                    </div>
                </div>
            }
            
          

        </div>

        <div class="checkout container-fluid">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <div>
                        <p>Subtotal:</p>
                        <h3 class="h4">Total:</h3>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-4">
                    <div class="total">
                        <p>₺@Model.Sum(x=>x.quantity*x.product.ProductPrice.FirstOrDefault(y=>y.isValidFlag==true).Price)</p>
                        <h3 class="h4">₺@Model.Sum(x=>x.quantity*x.product.ProductPrice.FirstOrDefault(y=>y.isValidFlag==true).Price*1.18m)</h3>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <a class="btn btn-primary" href="../checkout/"> Checkout order </a>
                </div>
            </div>
        </div>
    </div>
</div>