@using Shoper.Entities
@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="carousel" data-count="3" data-current="2">
        <!-- <button class="btn btn-control"></button> -->

        <div class="items">
            @{
                int i = 0;
            }
            @foreach (var slider in Model)
            {
                i++;
                var active = i == 1 ? "active" : "";
                <div class="item @active" data-marker="@i">
                    <img src="data:image/png;base64,@Convert.ToBase64String(slider.sliderImage)" alt="@slider.title" class="" />

                    <div class="content">
                        <div class="outside-content">
                            <div class="inside-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 align-center">
                                            <h1>@slider.title</h1>
                                            <p>@slider.desc</p>
                                            <a asp-action="Index" asp-controller="Catalog" asp-route-category="@slider.categoryId">Daha fazlası için ></a>
                                            <br><br>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
           
           
           
        </div>

        <ul class="markers">
            @{
                i = 0;
            }
            @foreach (var slider in Model)
            {
                i++;
                var active = i == 1 ? "active" : "";
                <li data-marker="@i" class="@active">
                    <img src="data:image/png;base64,@Convert.ToBase64String(slider.sliderImage)" alt="@slider.title" />
                </li>
            }
           
        </ul>
    </div>
</header>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-3 align-center">
            <a href="./blog/">
                <img src="~/assets/img/tiles/blog.jpg" alt="Blog" class="image" />
            </a>
            <br><br>

            <a href="./blog/">Blog headlines</a>
        </div>
        <div class="col-sm-3 align-center">
            <a href="#video" data-gallery="#video" data-source="vimeo" data-id="110691368" data-id="110691368" data-title="Apple iPad Air" data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">
                <img src="~/assets/img/tiles/video-apple.jpg" alt="New devices" class="image" />
            </a>
            <br><br>

            <a href="#video" data-gallery="#video" data-source="vimeo" data-id="110691368" data-title="Apple iPad Air" data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">New apple diveces</a>
        </div>
        <div class="col-sm-3 align-center">
            <a href="#video" data-gallery="#video" data-source="youtube" data-id="6g-ZIm0wge4" data-title="Best New Dell Laptops" data-description="Best of dell's laptops that you can consider buying in 2016. 4 Laptops are featured in the video and all of them has equal importance and there is no order that #1 is better than #2">
                <img src="~/assets/img/tiles/video-dell.jpg" alt="Del XPS" class="image" />
            </a>
            <br><br>

            <a href="#video" data-gallery="#video" data-source="youtube" data-id="6g-ZIm0wge4" data-title="Best New Dell Laptops" data-description="Best of dell's laptops that you can consider buying in 2016. 4 Laptops are featured in the video and all of them has equal importance and there is no order that #1 is better than #2">Brend new DELL XPS</a>
        </div>
        <div class="col-sm-3 align-center">
            <a href="./blog/">
                <img src="~/assets/img/tiles/gallery.jpg" alt="Gallery" class="image" />
            </a>
            <br><br>

            <a href="./blog/">Products gallery</a>
        </div>
    </div>
</div>
<br>
<br>
