@model IEnumerable<Shoper.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<h3>Siparişler</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr id="@item.OrderId" class="@(item.isVerified==true?"bg-success":item.isVerified==false && item.isActive==true?"bg-warning":"text-white bg-dark")">
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @if (item.isActive)
                {
                    @Html.ActionLink("Detay", "OrderDetail", new {  id=item.OrderId  },new{@class="btn btn-secondary"})
                    if (!item.isVerified)
                    {
                     <a class="btn btn-success text-white" href="javascript:void(0);" data-id="@item.OrderId" id="Confirm">Onayla</a>
                    }else
                    {
                     <a class="btn btn-danger text-white" href="javascript:void(0);" data-id="@item.OrderId" id="sil">İade</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    $(document).on('click', '#Confirm', function () {
        var response = confirm('Bu siparişi onaylıyormusunuz');
        var id = $(this).attr("data-id");
        if (response == true) {
            $.ajax({
                url: "@Url.Action("Confirm")",
                data: { id: id },
                type: "POST",
                success: function (data) {
                    if (data) {                       
                        $("tr#" + id).addClass("bg-success");
                        location.reload();
                    }
                }
            });
        }

    });
    $(document).on('click', '#sil', function () {
        var response = confirm('Bu sipariş iptal edilecektir.Emin misiniz?');
        var id = $(this).attr("data-id");
        if (response == true) {
            $.ajax({
                url: "@Url.Action("Delete")",
                data: { id: id },
                type: "POST",
                success: function (data) {
                    $("tr#" + id).addClass("text-white bg-dark");
                }
            });
        }
    });

</script>
