@using Shoper.Entities
@model IEnumerable<OrderDetail>
@{
    ViewData["Title"] = "OrderDetail";
}
<div class="container">
    <div class="row">
        <!-- Filter -->
        <div class="col-sm-3 filter">
            <div class="item">
                <div class="controls">
                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyOrders" asp-action="MyOrders" class="btn btn-danger">Siparişlerim</a>
                    </div>
                    <br />
                    <div class="checkbox-group" data-status="active">
                        <a data-url="MyWishList" asp-action="MyWishList" class="btn btn-danger">Favorilerim</a>
                    </div>
                    <br />
                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyCoupons" asp-action="MyCoupons" class="btn btn-danger">Kuponlarım</a>
                    </div>
                    <br />

                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyProfile" asp-action="MyProfile" class="btn btn-danger">Profilim</a>
                    </div>
                    <br />
                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyAddresses" asp-action="MyAddresses" class="btn btn-danger">Adreslerim</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <h3>Siparişlerim</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDetailId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductImage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductPrice)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.quantity)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDetailId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductId)
                                </td>
                                <td>
                                    @if (item.Product.ProductImage != null)
                                    {
                                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Product.ProductImage.FirstOrDefault().Image)" style="margin:5px;height:50px;width:70px;" />
                                    }
                                    else
                                    {
                                        <img src="~/images/no-image.png" style="margin:5px;height:50px;width:70px;" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductPrice.FirstOrDefault(x=>x.isValidFlag==true).Price)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.quantity)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

